/* jQuery - 1. feladat */

h3 {
    margin-top: 40px;
}

#jq6 p,
#jq6 li {
    color: red;
    margin: 5px;
    cursor: pointer;
}

#jq6 p:hover,
#jq6 li:hover {
    background: yellow;
}

#jq1 p {
    background: #0d91a1;
    color: #015668;
    width: 300px;
    height: 100px;
    padding: 15px;
    margin: 30px;
    border: 3px dashed #7dce94;
    font-family: "Baloo Thambi 2", cursive;
    font-size: 40px;
}


/* jQuery - 2. feladat */

#jq2 main {
    border: 5px solid #4285f4;
    width: 200px;
}

#jq2 .north {
    background: #e67676;
    color: white;
}

#jq2 .east {
    background: #f2f062;
    color: grey;
}

#jq2 .south {
    background: #a9e6e6;
    color: white;
}

#jq2 .west {
    background: #7692e4;
    color: white;
}

#jq2 .direction {
    margin: 0;
    padding: 25px;
    text-align: center;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: bold;
    font-size: 24px;
}


/* jQuery DOM - 1. feladat */

#jq3 div {
    border: 5px solid #4285f4;
    width: 200px;
    margin: 5px;
}

#jq3 .north {
    background: #e67676;
    color: white;
}

#jq3 .south {
    background: #a9e6e6;
    color: white;
}

#jq3 .direction {
    margin: 0;
    padding: 25px;
    text-align: center;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: bold;
    font-size: 24px;
}

#jq7 {
    background-color: #50e3c2;
    min-width: 340px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

#jq7 h1 {
    text-transform: uppercase;
    font-weight: 400;
}

#jq7 .cetli {
    background-color: #f7f7f7;
    width: 300px;
    margin: 30px auto 60px;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
}

#jq7 button {
    background-color: #df69e8;
    color: white;
    border: none;
    margin: 0;
    height: 25px;
}

#jq7 input {
    margin: 0;
    height: 25px;
    box-sizing: border-box;
    width: 70%;
}

#jq7 .row {
    display: flex;
}

#jq7 .row p {
    flex-grow: 4;
    margin: 0;
    text-align: left;
    padding-top: 8px;
    /* color: grey; */
}

#jq7 .row .icons {
    flex-grow: 1;
    padding-top: 8px;
}

#jq7 a {
    font-size: 8px;
}

#jq7 .selected {
    color: #df69e8;
}

.aktiv {
    color: red;
}